astroid==2.3.3
autopep8==1.5
boto3==1.12.48
botocore==1.15.48
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
coverage==5.0.4
cryptography==2.8
dj-database-url==0.5.0
Django==1.11.29
django-forms-bootstrap==3.1.0
django-storages==1.9.1
dnspython==1.16.0
docutils==0.15.2
Flask==1.1.1
Flask-PyMongo==2.3.0
Flask-WTF==0.14.3
gunicorn==20.0.4
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.5
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.19.1
mongomock==3.19.0
Pillow==9.0.0
psycopg2==2.8.5
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
pymongo==3.10.1
PyMsgBox==1.0.7
PyMySQL==0.9.3
PyPika==0.35.21
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
s3transfer==0.3.3
sentinels==1.0.0
six==1.14.0
stripe==2.46.0
typing-extensions==3.7.4.1
urllib3==1.25.9
Werkzeug==0.16.0
whitenoise==5.0.1
wrapt==1.11.2
WTForms==2.2.1
